body {
  margin: 0px;
}

.content-wrapper {
  width: 70%;
  margin: 0px auto;
}

.logo {
  width: 100px;
  margin: 100px auto;
}

.logo img {
  width: 100%;
}

.search input {
  width: 100%;
  height: 80px;
  padding-left: 20px;
  border: 0px solid;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.search input:focus {
  outline: none;
}
